<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget appId="aaamn10055" channelCode="0000" height="480" pid="" sreensize="4.5" version="00.00.0021" viewmode="application" widgetId="" width="320">
    <name>MO动态口令</name>
    <description/>
    <author email=""/>
    <icon src="icon.png"/>
    <license href=""/>
    <content encoding="utf-8" src="index.html"/>
    <updateurl/>
    <logserverip/>
    <showmyspace>false</showmyspace>
    <obfuscation>false</obfuscation>
    <bgcolor>#fefefe</bgcolor>
    <orientation>1</orientation>
    <error src=""/>
    <removeloading/>
    <debug/>
    <partobfuscation>false</partobfuscation>
    <webapp>false</webapp>
</widget>
